/*Header*/

.navbar{
    background-color: #C4DFDF;
    .logo-LC-header{
        width: 10%;
    }
    .navbar-brand{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
    }
}
.menu nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    ul{
        display: flex;
        list-style-type: none;
        li {
            margin-left: 10px;
            a{
                color: black;
                text-decoration: none;
            }
            &:hover{
                a{
                    color: white;
                    text-decoration: underline;
                }
            }
            
        }
    }
}