/*main index*/

main .bg-image{
    height: 800px;
    background-image: url(../img/Tribunales.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px
}