/* Main Noticias mobile first*/

.noticias-main{
    background-color: rgba(250, 246, 246, 0.973);
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.img-not-caja3{
    width: 100%;
}