@font-face {    
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300;8..60,400&display=swap');

*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    list-style-position: none;
}